CaptivityEvents/CaptivityEventsV1.3.11.1311/Modules/zCaptivityEvents/ModuleLoader/CaptivityRequired/Events/CECustomModal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--  VERSION 1.0  -->
    <xs:element name="CECustom">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:element ref="CEModuleName" />
                    <xs:element ref="CEFlags" minOccurs="0" />
                    <xs:element ref="CESkills" minOccurs="0"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CEModuleName" type="xs:string" />

    <xs:element name="CEFlags">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CEFlag" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CEFlag">
        <xs:complexType>
            <xs:attribute name="Id" type="xs:string" />
            <xs:attribute name="Name" type="xs:string" />
            <xs:attribute name="HintText" type="xs:string" />
            <xs:attribute name="DefaultValue" type="xs:string" />
        </xs:complexType>
    </xs:element>

    <xs:element name="CESkills">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CESkill" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CESkill">
        <xs:complexType>
            <xs:attribute name="Id" type="xs:string" />
            <xs:attribute name="Name" type="xs:string" />
            <xs:attribute name="MinLevel" type="xs:string" />
            <xs:attribute name="MaxLevel" type="xs:string" />
            <xs:attribute name="SetZeroOnEscape" type="xs:boolean" />
        </xs:complexType>
    </xs:element>
</xs:schema>